@model IEnumerable<ProLi.Models.Proliinvite>


@*@model List<Tuple<Prolievents, ProliPeople, Proliinvites>>
*@


@{
    ViewData["Title"] = "Index";
}



<h1>Protokoll lista</h1>
Itt szerepelni fog a rendezvény neve, maximális létszám és a meghívottak száma.
A rendezvény kiválasztásával a szerkesztés alatt hozzá lehet rendelni a kiválasztott személyeket.

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Rendezvény")
            </th>
            <th>
                @Html.DisplayName("Meghívott személy")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.PersonId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                  
            </td>
        </tr>
}
    </tbody>
</table>
