@model IEnumerable<ProLi.Models.Event>

@{
    ViewData["Title"] = "Index";
    System.Diagnostics.Debug.WriteLine(Model.GetType().GetProperties());

}

<h1>Rögzített események</h1>
<p>
    <a asp-action="Create" class="btn btn-secondary">Új esemény rögzítése</a>
</p>

@*Keresés*@

<form asp-controller="Event" asp-action="Index" method="get">
    <p>
        Keresett rendezvény: <input type="text" name="SearchString" />
        <input type="submit" value="Keresés" />
        <a asp-action="Index">Vissza az teljes listához</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPeople)
            </th>
    
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPeople)
                </td>
         
            <td>
                <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.Id">Szerkesztés</a> |
                <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.Id">Részletek</a> |
                <a asp-action="Delete" class="btn btn-dark" asp-route-id="@item.Id">Törlés</a>
            </td>
        </tr>
}
    </tbody>
</table>
