@model IEnumerable<ProLi.Models.People>

@{
    ViewData["Title"] = "Index";
}

<h1>Rögzített személyek</h1>
<p>
    <a asp-action="Create" class="szemelygombok">Új személy rögzítése</a>
@*    <a asp-controller="Offices" asp-action="Index" class="btn btn-secondary">Teljes lista megtekintése</a>
*@</p>

@*Keresés*@

<form asp-controller="People" asp-action="Index" method="get">
    <p>
        <b>Keresett név:</b><input id="keresettnev" type="text" name="SearchString" placeholder="Minta Mariann"/>
        <input type="submit" value="Keresés"  class="szemelygombok" />
        <input type="submit" value="Szűrés törlése"  class="szemelygombok" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.GuestName)

            </td>
            <td>
                @Html.DisplayNameFor(model => model.Email)

            </td>
            <td>
                @Html.DisplayNameFor(model => model.Address)

            </td>
            <td>
                @Html.DisplayNameFor(model => model.Phone)

            </td>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GuestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>     
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <th>
                <a asp-action="Edit"  class="szemelygombok" asp-route-id="@item.Id">Szerkesztés</a>
                <a asp-action="Details"  class="szemelygombok" asp-route-id="@item.Id">Részletek</a>
                <a asp-action="Delete"  class="szemelygombok" asp-route-id="@item.Id">Törlés</a>
            </th>
        </tr>
}
    </tbody>
</table>
