@model ProLi.Models.Office

@{
    ViewData["Title"] = "Delete";
}

<h1>@Html.DisplayFor(model => model.People.GuestName) - jogviszony törlése</h1>

<h3>Biztos benne?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficePost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficePost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeName1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeName1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeName2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeName2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeName3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeName3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.People_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.People_Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Törlés" class="btn btn-dark" /> |
        <a asp-action="Index">Vissza</a>
    </form>
</div>
