@model ProLi.Models.Prolievent

@{
    ViewData["Title"] = "Delete";
}

<h1>@Html.DisplayFor(model => model.EventName)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("időpontja")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Helyszíne")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Maximális létszáma")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventHead)
        </dd>
  @*      <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventStatus)
        </dd>*@
    </dl>

    <h3>A gomb megnyomásával a rendezvény adatai törlődni fognak</h3>

    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EventId" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a asp-action="Index">Visszalépés a rendezvények listájához</a>
    </form>
</div>
