@model IEnumerable<ProLi.Models.Prolievent>

@{
    ViewData["Title"] = "Index";
}

<h1>Rendezvények nyilvántartása</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Új rendezvény hozzáadása</a>
</p>

@*Keresés*@

<form asp-controller="Prolievents" asp-action="Index" method="get">
    <p>
        Keresett rendezvény: <input type="text" name="SearchString" />
        <input type="submit" value="Keresés" />
        <a asp-action="Index">Vissza az teljes listához</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Név")
            </th>
            <th>
                @Html.DisplayName("Időpont")
            </th>
            <th>
                @Html.DisplayName("Helyszín")
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.EventHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventStatus)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventPlace)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.EventHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventStatus)
            </td>*@
            <td>
             
                <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.EventId">Szerkesztés</a> |
                <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.EventId">Részletek</a> |
                <a asp-action="Delete" class="btn btn-dark" asp-route-id="@item.EventId">Törlés</a>

            </td>
        </tr>
}
    </tbody>
</table>
