@model ProLi.Models.Proliperson

@{
    ViewData["Title"] = "Details";
}

<h1> @Html.DisplayFor(model => model.PersonName)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Ország")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("E-mail")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Telefon")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Megjegyzés")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Bizalmas megjegyzés")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonSpecComment)
        </dd>    
    </dl>
</div>
<div>
    <a asp-action="Szerkesztés" asp-route-id="@Model?.PersonId">Szerkesztés</a> |
    <a asp-action="Index">Vissza a személyek listájához</a>
</div>
