@model IEnumerable<ProLi.Models.Proliperson>

@{
    ViewData["Title"] = "Index";
}

<h1>Személyek nyilvántartása</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Új személy hozzáadása</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Név")
            </th>
            <th>
                @Html.DisplayName("Ország")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonCountry)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.PersonId">Szerkesztés</a> |
                    <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.PersonId">Részletek</a> |
                    <a asp-action="Delete" class="btn btn-dark" asp-route-id="@item.PersonId">Törlés</a>
            </td>
        </tr>
}
    </tbody>
</table>
